@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
}

main {
  position: relative;
}

h2,
h3 {
  color: #ffd10f;
  margin: 0;
}

/** START HEADER COMPONENT 

Hamburger menu source: https://www.youtube.com/watch?v=flItyHiDm7E&ab_channel=WebDevTutorials

**/
header {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 6;
}

header figure {
  flex: 1 0 20%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header figure img {
  width: 130px;
  aspect-ratio: 1/1;
}

header nav {
  flex: 1 0 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: #ffd10f;
}

.active-nav {
  color: #ffd10f;
}

#hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background-color: #ffd10f;
}

@media only screen and (max-width: 425px) {
  header .container {
    margin: 0;
    width: 100%;
  }

  header figure {
    flex: 1 0 20%;
    max-width: 20%;
    width: 20%;
  }

  header figure img {
    width: 80px;
  }

  header nav {
    flex: 1 0 80%;
    max-width: 80%;
    width: 80%;
  }

  #hamburger-menu span {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 767.98px) {
  header .container {
    margin: 0;
    width: 100%;
    padding: 0 20px;
  }

  #hamburger-menu {
    display: block;
  }

  #hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #nav-menu {
    position: fixed;
    right: 100%;
    top: 80px;
    flex-direction: column;
    background-color: #ffd10f;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  #nav-menu li {
    margin: 16px 0;
  }

  #nav-menu li a:hover {
    color: black;
  }

  .active-nav {
    color: black;
  }

  #nav-menu.active {
    right: 0;
  }
}

@media only screen and (min-width: 768px) {
  header .container {
    margin: 0 auto;
    width: 100%;
    flex: 1 0 100%;
  }

  header .container figure {
    justify-content: flex-start;
  }

  header nav ul {
    gap: 50px;
    margin-right: 80px;
  }
}

/** END HEADER COMPONENT **/

/** ------ PAGEHEADER COMPONENT ----- **/

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

/** Intro text **/

main > section {
  min-height: 100vh;
  display: none;
  align-items: center;
  position: relative;
  background-color: black;
}

section .container .content {
  display: flex;
  flex-wrap: wrap;
}

#section-pageheader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}

#section-pageheader .container .content .section-intro{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#section-pageheader .container .content h1 {
  font-size: 55px;
  line-height: 1.2;
  margin: 0;
  position: relative;
}

#section-pageheader .container .content h1 span {
  color: #ffd10f;
}

#section-pageheader .container .content h1 span::after {
  content: "\A";
  white-space: pre;
}

#section-pageheader .container .content p {
  position: relative;
}

#section-pageheader .container .content ul {
  padding-left: 15px;
}


#section-pageheader .container .content .button-holder {
  position: relative;
}

#section-pageheader .container .content .button-holder a {
  background-color: transparent;
  border: 2px solid #ffd10f;
  text-decoration: none;
  color: #ffd10f;
  padding: 10px 25px;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

#section-pageheader .container .content .button-holder a:hover {
  color: white;
  background-color: #ffd10f;
  cursor: pointer;
}

/** Intro image **/

#section-pageheader .container .content figure {
  flex: 1 0 520px;
  max-width: 520px;
  width: 520px;
  margin: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#section-pageheader .container .content figure img {
  height: 450px;
  position: relative;
  z-index: 2;
  animation: glow 1.7s ease-in-out infinite alternate;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

/** Pageheader animations **/

@keyframes glow {
  from {
    filter: drop-shadow(0px 0px 4px white);
  }

  to {
    filter: drop-shadow(0px 0px 20px white);
  }
}

/* .move-image { */
.animating-header #pageheader-img {
  animation: moveImg 1s ease-in-out normal;
  /* animation-fill-mode: forwards; */
}

@keyframes moveImg {
  from {
    transform: scale(1);
    top: 0;
    left: 0;
  }
  50% {
    transform: scale(0.9);
    top: 0;
    left: 0;
  }
  to {
    transform: scale(0);
    top: -475px;
    left: 350px;
  }
}

.animating-header #pageheader-title,
.animating-header #pageheader-text,
.animating-header #pageheader-btn {
  animation: moveText 1s ease-in-out normal;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

@keyframes moveText {
  from {
    right: 0;
  }
  50% {
    right: -50px;
  }
  to {
    right: 1000px;
  }
}

main > section.active-section {
  display: flex;
  z-index: 4;
  /* animation: moveSection 2s ease-in-out normal; */
}

.animating-header #section-dj {
  /* animation: moveSection 2s ease-in-out normal; */
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes moveSection {
  from {
    transform: translateY(0vh);
  }
  25% {
    transform: translateY(-30vh);
  }
  35% {
    transform: translateY(-20vh);
  }
  45% {
    transform: translateY(-30vh);
  }
  55% {
    transform: translateY(-10vh);
  }

  to {
    transform: translateY(-100vh);
  }
}

/** Media queries pageheader **/

@media only screen and (max-width: 425px) {
  #section-pageheader .container {
    padding: 95px 15px 0 15px;
  }

  section .container .content {
    gap: 100px;
  }

  #section-pageheader .container .content .section-intro {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  #section-pageheader .container .content figure {
    justify-content: center;
  }

  #section-pageheader .container .content .section-intro h1 {
    font-size: 40px;
  }

  #section-pageheader .container .content .section-intro p {
    margin: 0;
  }

  #section-pageheader .container .content figure {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767.98px) {
  .container {
    padding-top: 95px;
    max-width: 980px;
  }

  #section-pageheader .container .content {
    gap: 80px;
  }

  #section-pageheader .container .content .section-intro {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #section-pageheader .container .content .section-intro h1 {
    font-size: 45px;
  }

  #section-pageheader .container .content .section-intro p {
    margin: 0;
  }

  #section-pageheader .container .content figure {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }

  #section-pageheader .container .content > figure img {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 980px;
  }

  #section-pageheader .container {
    max-width: 980px;
    padding: 110px 20px;
  }

  #section-pageheader .container .content {
    gap: 60px;
  }

  #section-pageheader .container .content .section-intro {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }


  #section-pageheader .container .content figure {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  #section-pageheader .container .content .section-intro h1 {
    font-size: 45px;
  }

  #section-pageheader .container .content .section-intro p {
    margin: 0;
  }

  #section-pageheader .container .content > figure img {
    height: 350px;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  #section-dj {
    padding: 90px 0;
  }

  .container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 120px;
  }

  #section-pageheader .container .content figure {
    justify-content: center;
    align-items: center;
  }

  #section-pageheader .container .content .section-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  #section-pageheader .container .content .section-intro p {
    margin: 0;
  }
}

/** END HEADER COMPONENT **/

/** ------ DJ COMPONENT ----- **/

#section-dj {
  /* margin-top: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#section-movies .container {
  padding-bottom: 95px;
}

.section-intro h2 {
  font-size: 45px;
}

.section-intro p {
  max-width: 600px;
}

#section-dj .content .audio-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#section-dj .content .audio-content p {
  margin: 0;
}

#section-dj .content .audio-content .audio-wrapper {
  background-color: #ffd10f;
  display: flex;
}

#section-dj .content .audio-content .audio-player {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#section-dj .content .audio-content audio::-webkit-media-controls-panel {
  background-color: #ffd10f;
}

#section-dj .content .audio-image img {
  height: 100px;
}

#section-dj .content .audio-video {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

#section-dj .content .audio-video iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 425px) {
  #section-pageheader .container {
    padding: 95px 15px 0 15px;
  }

  #section-dj .container .content {
    gap: 50px;
  }

  #section-dj .container .content > section {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    gap: 70px;
  }

  #section-dj .container .content > section .audio-image {
    display: flex;
    justify-content: center;
  }

  #section-dj .section-intro p {
    margin: 0;
  }

  .audio-wrapper {
    width: 100%;
  }

  .audio-wrapper audio {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767.98px) {
  #section-movies {
    padding-top: 95px;
  }

  #section-dj .container .content {
    gap: 30px;
  }

  #section-dj .container .content .section-intro {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #section-dj .container .content .section-intro p {
    margin: 0;
  }

  #section-dj .container .content > section {
    flex: 1 0 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #section-dj .container .content > section .audio-content {
    flex: 1 0 calc(50% - 30px);
  }

  #section-dj .container .content > section .audio-content audio {
    width: 100%;
  }

  #section-dj .container .content > section .audio-image {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  #section-movies {
    padding-top: 95px;
  }

  #section-dj .container {
    padding-top: 95px;
  }

  #section-dj .container .content {
    gap: 30px;
  }

  #section-dj .container .content .section-intro {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    gap: 30px;
  }

  #section-dj .container .content .section-intro p {
    margin: 0;
  }

  #section-dj .container .content > section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1 0 100%;
  }

  #section-dj .container .content > section .audio-content {
    flex: 1 0 calc(50% - 15px);
  }

  #section-dj .container .content > section .audio-content audio {
    width: 100%;
  }

  #section-dj .container .content > section .audio-image {
    flex: 1 0 calc(50% - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1440px) {
  #section-movies {
    padding-top: 95px;
  }
  #section-dj .container .content {
    gap: 50px;
  }

  #section-dj .container .content .section-intro {
    gap: 40px;
  }

  #section-dj .container .content .section-intro p {
    margin: 0;
  }

  #section-dj .container .content > section {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    gap: 120px;
  }

  #section-dj .container .content > section .audio-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #section-dj .container .content > section .audio-content {
    flex: 1 0 calc(100% - 640px);
    max-width: calc(100% - 640px);
    width: calc(100% - 640px);
  }

  #section-dj .container .content .section-intro {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #section-dj .content .audio-image {
    flex: 1 0 520px;
    max-width: 520px;
    width: 520px;
  }

  section .content .audio-content .audio-wrapper {
    width: 300px;
  }
}

/** ------ MOVIES COMPONENT ------ **/

#section-movies {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#section-movies .container .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#section-movies .container .content > section {
  display: flex;
  justify-content: center;
  gap: 175px;
  flex-wrap: wrap;
}

.movie-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
}

.movie-card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.movie-card:hover .movie-card-content {
  transform: rotateY(180deg);
}

.movie-card-front,
.movie-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.movie-card-front {
  background-color: #bbb;
  color: black;
  margin: 0;
}

.movie-card-front::after {
  content: "Flip me!";
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ffd10f;
  /* width: 50px; */
  padding: 5px 10px;
  font-size: 10px;
}

.movie-card-front img {
  width: 300px;
  height: 450px;
}

.movie-card-back {
  background-color: #ffd10f;
  color: black;
  transform: rotateY(180deg);
  margin: 0;
}

@media only screen and (max-width: 425px) {
  #section-pageheader .container {
    padding: 95px 15px 0 15px;
  }

  #section-movies .container .content > section {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  #section-movies .container .content {
    gap: 50px;
    align-items: center;
  }

  #section-movies .container .content section section h3 {
    text-align: center;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767.98px) {
  #section-movies .container .content > section {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  #section-movies .container .content > section {
    flex-wrap: wrap;
    gap: 75px;
  }

  #section-movies .container .content > section > section:first-of-type {
    flex: 1 0 calc(50% - 75px);
  }

  #section-movies .container .content > section > section:last-of-type {
    flex: 1 0 50%;
  }
}

@media only screen and (min-width: 1440px) {
  #section-movies .container .content .section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/** END MOVIES COMPONENT **/
